<header class="screen">

    <section class="screen__filter"></section>
    <section class="screen__bg"></section>

    <section class="screen__content content">
        <div class="content__logo">
            <img alt="Verenia" src="/logo.svg"/>
        </div>

        <div class="content__description">
            <div class="shadow"></div>
            <div class="description">
                <div class="description__text">
                    <h1>We are pleased to quote you the following products:</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="content__circle">
      <img alt="Circle" src="/circle.svg">
      <img alt="Light" src="/light.svg">
    </section>

</header>