.products {
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}
@media screen and (min-width: 1199px) {
  table {
    width: auto;
  }
}

thead {
  height: 116px;
  background: rgba(7, 132, 215, 0.05);
}

thead td {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -0.005em;
  color: #333333;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 116px;
}
@media screen and (min-width: 992px) {
  thead td {
    font-size: 26px;
  }
}

tr {
  display: grid;
  grid-template-columns: 7fr 1fr 3fr 7fr;
  grid-row-gap: 5px;
  grid-column-gap: 32px;
  padding: 0 32px;
}
@media screen and (min-width: 1199px) {
  tr {
    padding: 0 93px;
    grid-column-gap: 100px;
  }
}
@media screen and (min-width: 575px) {
  tr {
    grid-template-columns: 3fr 2fr 1fr 2fr;
  }
}


tbody {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: #333333;
}
@media screen and (min-width: 992px) {
  tbody {
    font-size: 30px;
    line-height: 45px;
  }
}

tbody tr:not(:last-child) {
  border-bottom: 2px solid #C8C8C8;
}

tbody td {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 301px;
  padding-top: 60px;
  padding-bottom: 50px;
}

tbody td:not(:first-child) {
  align-items: center;
}

tbody td h3 {
  font-size: inherit;
  padding: 0;
  margin: 0 0 10px 0;
}

tbody td p {
  font-size: inherit;
  padding: 0;
  margin: 0;
}

tbody td img {
  max-width: 150px;
  display: none;
}
@media screen and (min-width: 992px) {
  tbody td img {
    max-width: 234px;
  }
}
@media screen and (min-width: 575px) {
  tbody td img {
    display: inline-block;
  }
}